/* Hero CSS */
.hero {
    width: 100%;
    background: url(../images/hero-bg.png) center no-repeat;
    max-height: 400px;
    margin-bottom: 0;
}

.header {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    max-width: 150px;
    max-height: 150px;
}

.btn {
    margin-top: 20px;
}

/* About Dauntless */
.dauntless {
    background: url(../images/embermane.jpg);
    min-height: 800px;
    border-top: solid 2px lightskyblue;
    border-bottom: solid 2px lightskyblue;
}

.about-wrapper {
    padding: 80px 0 0 80px;
    font-size: 1.5em;
    letter-spacing: 2px;
    width: 50%;
}

/* Main content */
.display-4 {
    font-size: 80px;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(204, 204, 204);
    margin-bottom: 0;
    text-shadow: 5px 8px rgba(45, 45, 31, .7);
}

.main-content {
    background: url(../images/background.jpg) center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.weapon-row {
    margin: 0;
}

.weapon-name {
    color: white;
}

.weapon-name:hover {
    text-shadow: 1px 1px 8px rgb(27, 157, 238);
}

a:hover {
    text-decoration: none;
}

.weapon-description {
    max-width: 300px;
    margin: 0 auto;
    padding-top: 0;
}

.weapon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 2px lightslategray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.weapon:hover {
    border: solid 3px lightskyblue;
}

.card {
    background: none;
    border: none;
}

/* Footer CSS */
.card-footer {
    text-align: center;
    background-color: rgb(50, 50, 50);
    border-top: 2px solid lightskyblue;
}

ul li {
    display: inline-block;
}

ul li,
p {
    color: white;
    font-size: .8em;
}

.card-footer p {
    margin: 15px auto 0;
    font-size: .8em;
    color: white;
    text-align: left;
}

.card-footer ul {
    margin-bottom: 5px;
}

@media screen and (max-width: 1023px) {
    .about-wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 590px) {
    .display-4 {
        font-size: 50px;
    }

    .about-wrapper {
        width: 100%;
        padding: 40px 0 0 40px;
    }
}